body{

	background-image: url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: 1400px;
			background-repeat: no-repeat;
}

h1,p{
	color: white;
}

.index{
		position: absolute;
	top: 0px;
	right: 0px;
	background-image: url(https://media.giphy.com/media/uxbIr5yajuWti/giphy.gif);
	color: white;
	display: inline-block;
list-style-type: none;
text-decoration: none;
}

.attention{
	font-weight: bold;
}



/*MEDIA QUERIES*/
/*En dessous, on codera pour les écrans inférieurs à un pc (PARTIE QUI BUG !!!!!!) */
@media all and (max-width: 1300px) and (orientation: landscape)
{
	
p{
	font-size: 0.95em;
}

}


/*En dessous, on codera pour les écrans inférieurs à un pc (grande tablette) */
@media all and (max-width: 979px) and  (orientation: landscape)
{
	h1{
	font-size: 0.9em;
}
	p{
	font-size: 0.85em;
	
	  }

	  }

/*En dessous, on codera pour les écrans inférieurs à un pc (petite tablette) */
@media all and (max-width: 767px) and (orientation: landscape)
{
	h1{
	font-size: 0.8em;
}
	p{
	font-size: 0.75em;
	  }
  }

	/*En dessous, on codera pour les écrans inférieurs à un pc (téléphone) */
@media all and (max-width: 480px) and (orientation: portrait)
{
	h1{
	font-size: 0.75em;
}
	p{
	font-size: 0.7em;
	
	  }
	  }
