body{    /*Caractéristiques principales de Wikiglouglou*/
	background-image: url(https://cdn.pixabay.com/photo/2016/11/21/12/36/ocean-1845110_960_720.jpg);
background-size: 10000px;

	background-repeat: no-repeat; 
}




.Oceanacceuil{
		position: absolute;
	top: 0px;
	right: 0px;
	background-image: url(https://media.giphy.com/media/uxbIr5yajuWti/giphy.gif);
	color: white;
	display: inline-block;
list-style-type: none;
text-decoration: none;
}





.poissonS{ /*Image du poisson fou!*/
	width: 75px;
	height: 75px;
	position: absolute;
	top: 5%;
	right: 34%;
}  

.BonjourS{ /*"Salutation visiteur!"*/
	position: absolute;
	top: 5%;
	right: 24%;
	color: green;
	background-color: white;
} 

.titrewikiglouglouplage { /*Titre "Wikiglouglou"*/
	background-image: url(https://cdn.pixabay.com/photo/2016/02/14/09/45/frozen-1199182_960_720.jpg);
width: 200px;
font-family: Comic Sans MS;
position: absolute;
top: 5%;
left: 42%;
   }



div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 0%;
	width: 1000px;
	height: 1700px;
	color: white;
	background-color: #0A122A;
	font-family: Comic Sans MS;
	   }

	   .imageWiki{
	   	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 10%;
	position: absolute; 
	right: 0px;
	top: 0px;
	width: 335px;
	height: 1700px;
	color: blue;
	background-image: url(https://cdn.pixabay.com/photo/2014/05/26/14/45/rain-354617__340.jpg);
		border: 3px blue dashed;
	   }
.accident{
	width: 310px;
	height: 150px;
	margin-top: 140px;
}

.concordia{
	width: 310px;
	height: 250px;
	margin-top: 200px;
}

.plongeur{
	width: 310px;
	height: 250px;
	margin-top: 150px;
}

.textimage{
	color: #0A122A;
	font-weight: bold;
	background-color: white;
}

.wikicontact{
	color: white;
	background-color: blue;
	width: 800px;
	height: 100px;
	margin-left: 1%;
}

.mail{
	color: #ADD8E6;
}

.youtube{
color: #ADD8E6;
}

/*En dessous, on codera pour les écrans inférieurs à un pc (grande tablette) */
@media all and (max-width: 1024px) and (orientation: landscape)
{

	.Oceanacceuil{
		position: absolute;
	top: 0px;
	right: -647px;
font-size: 1.6em;
	background-image: url(https://media.giphy.com/media/uxbIr5yajuWti/giphy.gif);
	color: white;
	display: inline-block;
list-style-type: none;
text-decoration: none;
}
	div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 0%;
	width: 1000px;
	flex-wrap: wrap;
	height: 2700px;
	color: white;
	background-color: #0A122A;
	font-family: Comic Sans MS;
	

	
	   }

	   .imageWiki{
	   	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 10%;
	position: absolute; 
	right: -310px;
	top: 0px;
	width: 450px;
	height: 2700px;
	color: blue;
	background-image: url(https://cdn.pixabay.com/photo/2014/05/26/14/45/rain-354617__340.jpg);
		border: 3px blue dashed;
	   }

p{
	font-size: 1em;
	width: 695px;
}	   

h1 {
	font-size: 1.6em;
	width: 695px;
}

h2 {
	font-size: 1.4em;
	width: 695px;
}


.poissonS{ /*Image du poisson fou!*/
	width: 75px;
	height: 75px;
	position: absolute;
	top: 2%;
	right: 3%;
}  
.BonjourS{ /*"Salutation visiteur!"*/
	position: absolute;
	top: 4%;
	right: -10%;
	color: green;
	background-color: white;
	width: auto;
} 

.titrewikiglouglouplage { /*Titre "Wikiglouglou"*/
	background-image: url(https://cdn.pixabay.com/photo/2016/02/14/09/45/frozen-1199182_960_720.jpg);
width: 200px;
position: absolute;
top: 5%;
left: 70%;
font-family: Comic Sans MS;
width: auto;
   }

   .accident{
	width: 310px;
	height: 150px;
	margin-top: 140px;
	margin-right: 250px;

}

.concordia{
	width: 310px;
	height: 250px;
	margin-top: 200px;
	margin-right: 250px;
}

.plongeur{
	width: 310px;
	height: 250px;
	margin-top: 150px;
	margin-right: 250px;
}

.textimage{
	color: #0A122A;
	font-weight: bold;
	background-color: white;
	width: 450px;
	margin-right: 250px;
	
}
  }

/*En dessous, on codera pour les écrans inférieurs à un pc (téléphone) */
@media all and (max-device-width : 480px)  and (orientation: portrait)
{

	body{    /*Caractéristiques principales de Wikiglouglou*/
	background-image: url(https://cdn.pixabay.com/photo/2016/11/21/12/36/ocean-1845110_960_720.jpg);
background-size: 12000px;

	background-repeat: no-repeat; 
}

	.Oceanacceuil{
		position: absolute;
	top: 0px;
	right: -550px;
font-size: 2em;
	background-image: url(https://media.giphy.com/media/uxbIr5yajuWti/giphy.gif);
	color: white;
	display: inline-block;
list-style-type: none;
text-decoration: none;
}
	div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 0%;
	width: 600px;
	flex-wrap: wrap;
	height: 6900px;
	color: white;
background-color: red;
	font-family: Comic Sans MS;
	

	
	   }

	  .imageWiki{
	   	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
		margin-top: 10%;
		margin-left: 10%;
	position: absolute; 
	right: -80px;
	top: 0px;
	width: 450px;
	height: 6900px;
	color: blue;
	background-image: url(https://cdn.pixabay.com/photo/2014/05/26/14/45/rain-354617__340.jpg);
		border: 3px blue dashed;
	   }

p{
	font-size: 1.85em;
	width: 595px;
}	   

h1 {
	font-size: 2.3em;
	width: 595px;
}

h2 {
	font-size: 2.0em;
	width: 595px;
}


.poissonS{ /*Image du poisson fou!*/
	width: 75px;
	height: 75px;
	position: absolute;
	top: 0%;
	right: 20%;
}  
.BonjourS{ /*"Salutation visiteur!"*/
	position: absolute;
	top: 0%;
	right: -12%;
	color: green;
	background-color: white;
	width: auto;
} 

.titrewikiglouglouplage { /*Titre "Wikiglouglou"*/
	background-image: url(https://cdn.pixabay.com/photo/2016/02/14/09/45/frozen-1199182_960_720.jpg);
width: 200px;
position: absolute;
top: 0%;
left: 47%;
font-family: Comic Sans MS;
width: auto;
   }


    
.textimage{
	color: #0A122A;
	font-weight: bold;
	background-color: white;
	width: 450px;
	margin-right: 160px;

}

 .accident{
	width: 310px;
	height: 150px;
	margin-top: 540px;
	margin-right: 160px;

}

.concordia{
	width: 310px;
	height: 250px;
	margin-top: 1200px;
	margin-right: 160px;
}

.plongeur{
	width: 310px;
	height: 250px;
	margin-top:1150px;
	margin-right: 160px;
}


.wikicontact{
	color: white;
	background-color: blue;
	width: 600px;
	height: 300px;
	margin-left: 0%;

}